.Galeria {
    width:100%;
    height: 800px;
}

.whatsapp img{
    width: 80px;
    height: 80px;
}

.whatsapp {
    display: flex;
    justify-content:flex-end;
    padding: 2px;
}
.ready {
    display: flex;
    
}
.botones {
    display: flex;
    justify-content: end;
}




